<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/basics.css"/>
    <link rel="stylesheet" href="css/color.css"/>
    <link rel="stylesheet" href="js/owl/owl-carousel/owl.carousel.js"/>
    <script src="js/owl/assets/js/jquery-1.9.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="js/script.js"></script>
    <title>Home</title>
</head>
<body>
<div class="header">
    <img src="image/logo.png" alt="" class="logo"/><br/>
    <a href="#menu"><img src="image/enter.png" alt="" class="enter"/></a>
</div>
<div class="navBar">
    <ul class="userMenu" id="menu">
            <button class="userButton"><a href="index.php?p=home_backOffice">Menu</a> </button>
    </ul>
    <ul class="siteMenu">
        <li class="menuSite" id="menuSiteId"><a href="#abo">Nos Abonnements</a></li>
        <li class="menuSite"><a href="#cours">Nos cours</a></li>
        <li class="menuSite"><a href="#gallery">Notre Gallerie</a></li>
        <li class="menuSite"><a href="#who">Qui sommes-nous ?</a></li>
    </ul>
</div>
<div class="blocAbo" id="abo">
    <h1>Nos abonnements</h1>
    <div class="abo20">
        <img src="image/abo20.png" alt="" class="imgAbo20"/>
        <h2>Abonnement Discover You</h2>
        <p>Christophe Colomb « On ne va jamais aussi loin <br/> que lorsqu'on ne sait pas où l'on va «</p>
        <a href="index.php?p=user_showAbo"><button class="more">En savoir plus</button></a>
    </div>
    <div class="abo50">
        <img src="image/abo55.png" alt="" class="imgAbo50"/>
        <h2>Abonnement Sheyd'n'you</h2>
        <p>« La créativité né d‘un doute :<br/> pourquoi pas ? »</p>
        <a href="index.php?p=user_showAbo"><button class="more">En savoir plus</button></a>
    </div>
</div>
<div class="blocCours" id="cours">
    <h1>Nos cours</h1>
    <p>Venez découvrir nos cours, voici toute les infos dont vous aurez besoin</p>
    <div class="cuisine" id="cuisine">
        <div class="coursHeader brown">
            <h2>_Cook it Yourself !</h2>
            <img src="image/flecheBas.png" alt="" id="flecheCuisine"/>
        </div>

        <div class="blocCuisine">
            <img src="image/cuisinePic.png" alt=""/>
            <div class="textCuisine">
                <p>Apprenez à manier les outils et aliments culinaires afin de créer des plats fun et sain et qui vous ressemble, à la manière de notre cher ami Mathieu de la chaîne Youtube French Food Porn. De même, à chaque fin de conception de plat/recettes/cocktails etc... nous vous proposons de déguster vos œuvres.</p>
                <a href=""><h3>Inscrivez-vous à ce cours dès maintenant !</h3></a>
            </div>
        </div>

    </div>
    <div class="jardin" id="jardin">
        <div class="coursHeader grey">
            <h2>_Plant it Yourself !</h2>
            <img src="image/flecheBas.png" alt="" id="flecheJardin"/>
        </div>
        <div class="blocJardin">
            <img src="image/jardinPic.png" alt=""/>
            <div class="textJardin">
                <p>Apprenez à manier les outils et aliments culinaires afin de créer des plats fun et sain et qui vous ressemble, à la manière de notre cher ami Mathieu de la chaîne Youtube French Food Porn. De même, à chaque fin de conception de plat/recettes/cocktails etc... nous vous proposons de déguster vos œuvres.</p>
                <a href="index.php?p=user_inscription"><h3>Inscrivez-vous à ce cours dès maintenant !</h3></a>
            </div>
        </div>
    </div>
    <div class="make" id="make">
        <div class="coursHeader brown">
            <h2>_Make it Yourself !</h2>
            <img src="image/flecheBas.png" alt="" id="flecheMake"/>
        </div>
        <div class="blocMake">
            <img src="image/makePicture.png" alt=""/>
            <div class="textMake">
            <p>Ce sont des séances dans lesquels votre imagination collective sera votre seul limite. Vous vous êtes déjà demandé quoi choisir comme lit pour votre chat ou encore comment utiliser un vieux tabouret comme pot de fleur pour bambou ?</p>
                <a href="index.php?p=user_inscription"><h3>Inscrivez-vous à ce cours dès maintenant !</h3></a>
            </div>
        </div>
    </div>
    <div class="tale" id="tale">
        <div class="coursHeader grey">
            <h2>_Tale it Yourself !</h2>
            <img src="image/flecheBas.png" alt="" id="flecheTale"/>
        </div>
        <div class="blocTale">
            <img src="image/talePicture.png" alt=""/>
            <div class="textTale">
            <p>Créez des vêtements uniques à votre image et apprenez à les raccommoder avec un apprentissage complet du traitement des textiles. Avec l’intervention de Margot du blog youmakefashion</p>
                <a href="index.php?p=user_inscription"><h3>Inscrivez-vous à ce cours dès maintenant !</h3></a>
            </div>
        </div>
    </div>
</div>
<div class="blocGallery" id="gallery">
    <h1>Notre gallerie</h1>
    <div class="cuisine">
        <h2>_Cook it Yourself</h2>
        <div class="pictures">
            <div class="owl-carousel">
                <div><img src="image/cuisine1.png" alt=""/></div>
                <div><img src="image/cuisine2.png" alt="" class="centre"/></div>
                <div><img src="image/cuisine3.png" alt=""/></div>
            </div>
        </div>
    </div>
    <div class="jardin">
        <h2>_Plant it Yourself</h2>
        <div class="pictures">
            <div class="owl-carousel">
                <div><img src="image/jardin1.png" alt=""/></div>
                <div><img src="image/jardin2.png" alt="" class="centre"/></div>
                <div><img src="image/jardin3.png" alt=""/></div>
            </div>
        </div>
    </div>
</div>
<div class="blocWho" id="who">
    <h1>Qui sommes-nous ?</h1>
    <p>
        Nous sommmes une Start-up souhaitant vous faire découvrir, créer, imaginer, tout cela grâce à l'ensemble de nos ateliers et de nos locaux.
    </p>
    <p>
        Nous sommes une équipe de 7 personnes à votre disposition
    </p>
    <p>
        Plus d'information juste en dessous :
    </p>
</div>
<div class="blocFind">
    <div class="contact">
        <h1>Ou nous trouver ?</h1>
        <p>95 avenue parmentier <br/>
            11ème - Paris</p>
        <p>01.00.00.00.00 <br/>
            shed'n'you@gmail.com</p>
    </div>
    <div class="carte">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.586443237737!2d2.3732952999999997!3d48.86609599999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66de3566a8a97%3A0xda12f1540347fd1d!2s95+Avenue+Parmentier%2C+75011+Paris!5e0!3m2!1sfr!2sfr!4v1432474779459" class="map" frameborder="0" style="border:0"></iframe>
    </div>
</div>
<div class="footer">
    <p>Catégorie :</p>
    <ul>
        <a href="#cuisine" id="cuisineCours"><li class="listFooter">_Cook it yourself</li></a>
        <a href="#jardin" id="jardinCours"><li class="listFooter">_Plant it yourself</li></a>
        <a href="#make" id="makeCours"><li class="listFooter">_Make it yourself</li></a>
        <a href="#tale" id="taleCours"><li class="listFooter">_Tale it yourself</li></a>
    </ul>
    <div class="lastLine">
        <ul>
            <li class="footerMenu">Nous contacter</li>
            <li class="footerMenu">Mentions légales</li>
            <a href="index.php?user_getAbo"><li class="footerMenu">Souscrire à un de nos abonnements</li></a>
        </ul>
        <ul id="SN">
            <li class="footerSN"><a href="www.facebook.com"><img src="image/logoFacebook.png" alt=""/></a></li>
            <li class="footerSN"><a href="www.twitter.com"><img src="image/logoTwitter.png" alt=""/></a></li>
        </ul>
    </div>
</div>


</body>
</html>

